.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
      
    }
    
  }

  .Bio{
    display: inline-block;
    border-radius: 3px;
    padding: 7px 12px;
    border: 1px solid #D5D5D5;
    background-image: linear-gradient(rgb(168, 80, 80), rgb(90, 29, 29));
    font: 700 13px/18px Helvetica, arial;
    
  }

  .portfolio {
    border: 1px solid black;
    padding: 7px 12px;
    text-align: center;
}

  .button {
    display: inline-block;
    border-radius: 3px;
    padding: 7px 12px;
    border: 1px solid #D5D5D5;
    background-image: linear-gradient(#EEE, #DDD);
    font: 700 13px/18px Helvetica, arial;
  }

  .button--links-Git {
    color: #FFF;
    background: #5f2525 linear-gradient(#d85863, #4b2020) repeat-x;
    border-color: #0f0e0e;
    text-decoration: none;
}
.button--links-LinkedIn {
    color: #FFF;
    background: #5f2525 linear-gradient(#d85863, #4b2020) repeat-x;
    border-color: #0f0e0e;
    text-decoration: none;
}